﻿@using CreditImmobilier.Models.MonthlyPaymentCalculation
@model CreditImmobilier.Models.MonthlyPaymentCalculation.MonthlyPaymentCalculationViewModel

<h1>@ViewBag.Title</h1>

<div id="grid-container">

    <hr />

    <div class="row justify-content-center">
        @using (Html.BeginForm("Calculation", "MonthlyPaymentCalculation", FormMethod.Post, new { id = "monthlyPaymentCalculationForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2>Informations sur le prêt</h2>

            <div class="form-group">
                @Html.LabelFor(model => model.BorrowedCapital)
                @Html.TextBoxFor(model => model.BorrowedCapital, new { @class = "form-control", placeholder = "", data_val_range = "Le montant minimum est de 50 000 €.", data_val_number = "Il doit s'agit d'un nombre" })
                @Html.ValidationMessageFor(model => model.BorrowedCapital, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RepaymentPeriodInMonths)
                @Html.TextBoxFor(model => model.RepaymentPeriodInMonths, new { @class = "form-control", placeholder = "", data_val_range = "La durée doit être comprise en 9 ans (108 mois) et 25 ans (300 mois).", data_val_number = "Il doit s'agit d'un nombre entier" })
                @Html.ValidationMessageFor(model => model.RepaymentPeriodInMonths, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @{var rateStates = Enum.GetValues(typeof(ERate));}
                @foreach (ERate value in rateStates)
                {
                    @Html.RadioButtonFor(m => m.RateState, value.ToString())<span> </span>@value.ToString()<span> </span>
                }
            </div>

            <h2>Informations sur l'emprunteur</h2>

            <div class="form-group">
                @Html.CheckBoxFor(m => Model.BorrowerIsAthletic)
                @Html.LabelFor(m => Model.BorrowerIsAthletic)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => Model.BorrowerIsSmoker)
                @Html.LabelFor(m => Model.BorrowerIsSmoker)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => Model.BorrowerHasHeartTrouble)
                @Html.LabelFor(m => Model.BorrowerHasHeartTrouble)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => Model.BorrowerIsComputerEngineer)
                @Html.LabelFor(m => Model.BorrowerIsComputerEngineer)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => Model.BorrowerIsFighterPilot)
                @Html.LabelFor(m => Model.BorrowerIsFighterPilot)
            </div>

            <hr />
            <div style="margin-bottom:15px">
                <button type="submit" class="btn btn-info">
                    <i class="bi bi-calculator"></i> Simulation
                </button>
            </div>
        }
    </div>
</div>
