﻿@using CreditImmobilier.Models.MonthlyPaymentCalculation
@model CreditImmobilier.Models.MonthlyPaymentCalculation.SimulationRecapViewModel

<h1>@ViewBag.Title</h1>

<div id="grid-container">

    <hr />

    <div class="row justify-content-center">

        <form>
            <h2>Informations sur le prêt</h2>
            <div>
                @Html.DisplayNameFor(m => m.BorrowedCapital) :
                @Html.DisplayFor(m => m.BorrowedCapital) €
            </div>
            <div>
                @Html.DisplayNameFor(m => m.RepaymentPeriodInMonths) :
                @Html.DisplayFor(m => m.RepaymentPeriodInMonths) mois
            </div>

            <h2>Résultat de simulation</h2>
            <div>
                @Html.DisplayNameFor(m => m.Rate) :
                @Html.DisplayFor(m => m.Rate) %
            </div>
            <div>
                @Html.DisplayNameFor(m => m.MonthlyPayment) :
                @Html.DisplayFor(m => m.MonthlyPayment) €
            </div>
            <div>
                @Html.DisplayNameFor(m => m.TotalInterest) :
                @Html.DisplayFor(m => m.TotalInterest) €
            </div>
            <br />
            <div>
                @Html.DisplayNameFor(m => m.InsuranceRate) :
                @Html.DisplayFor(m => m.InsuranceRate) %
            </div>
            <div>
                @Html.DisplayNameFor(m => m.MonthlyInsurance) :
                @Html.DisplayFor(m => m.MonthlyInsurance) €
            </div>
            <div>
                @Html.DisplayNameFor(m => m.TotalInsurance) :
                @Html.DisplayFor(m => m.TotalInsurance) €
            </div>
            <br />
            <div>
                Montant total des mensualités : @(Model.MonthlyPayment + Model.MonthlyInsurance) €
            </div>
            <div>
                Coût total : @(Model.TotalInterest + Model.TotalInsurance) €
            </div>
            <div>
                @Html.DisplayNameFor(m => m.RepaymentCapitalAfterTenYears) :
                @Html.DisplayFor(m => m.RepaymentCapitalAfterTenYears) €
            </div>

        </form>
    </div>

</div>
